<app-page-content>
  <section header>
  </section>
  <section body>

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-3">

          <form role="form" method="POST" action="#">
            <h2>Login</h2>
            <hr>
            <div class="form-group">
              <div class="col-md-9">
                <div class="input-group">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" name="uName" class="form-control" id="uName" placeholder="Username" required autofocus>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9">
                <div class="input-group">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-key"></i>
                  </div>
                  <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9 offset-3">
                <button type="submit" class="btn btn-success">Login</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
                <p class="message">Not registered?
                  <a routerLink="/register">Create an account</a>
                </p>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

  </section>
</app-page-content>
