:host ::ng-deep page-container {
  background-color: black!important;
}

form {
  border: 1px solid black;
  background-color: #fff;
}
h2 {
  text-align: center;
}
div {
  input {
    margin-left: 100px;
  }
  i {
    margin-top: 15px;
    margin-left: 120px;
  }
  button {
    margin-left: 35px;
  }
  p {
    margin-left: 20px;
  }
}
