.form-login {
  background: #f9f9f9;
  padding: 60px 15px;
  border: 1px solid #ddd;
  border-radius: 15px 0;
  h1 {
    text-align: center;
    font-size: 3em;
    margin: 0 0 40px;
  }

  .form-control {
    &.ng-valid {
      border-color: #28a745;
    }
    &.ng-invalid {
      border-color: #dc3545;
      &~.invalid-feedback {
        display: block;
      }
    }
  }
}

