<app-page-content>
  <section header>
  </section>
  <section body>

    <div class="container">
      <div class="row">

        <div class="col-md-6 offset-3">

          <div class="form-login">
            <h1>Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="formOnSubmit($event, loginForm.value)">

              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-username">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                  <input type="text" [formControl]="username" class="form-control" id="username" placeholder="User Name" aria-describedby="addon-username">
                  <div class="invalid-feedback">
                    <span *ngIf="sumitted && username.hasError('required')">The username is required</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-password">
                      <i class="fa fa-key"></i>
                    </span>
                  </div>
                  <input type="password" [formControl]="password" class="form-control" id="password" placeholder="password" aria-describedby="addon-password">
                  <div class="invalid-feedback">
                    <span *ngIf="sumitted && password.hasError('required')">The password is required</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-sign-in-alt"></i>&nbsp;Login
                </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </section>
</app-page-content>
