form {
  border: 1px solid black;

  h2 {
    text-align: center;
  }

  div {
    i {
      margin-top: 12px;
      margin-left: 100px;
    }
    input {
      margin-left: 80px;
      margin-right: 100px;
    }
    button {
      margin-left: 10px;
      margin-bottom: 10px;
    }
    p {
      margin-right: 10px;
    }
  }
}
