<app-page-content>
  <section header>
    <h3 style="color: slateblue"></h3>
  </section>
  <section body>

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-3">

          <form class="form-horizontal" role="form" method="POST" action="#">
            <h2>Register</h2>
            <hr>
            <div class="form-group">
              <div class="col-xs-9">
                <div class="input-group">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" name="uName" class="form-control" id="uName" placeholder="Username" required autofocus>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-9">
                <div class="input-group">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fa fa-key"></i>
                  </div>
                  <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-9">
                <div class="input-group">
                  <div class="input-group-addon" style="width: 2.6rem">
                    <i class="fas fa-redo"></i>
                  </div>
                  <input type="password" name="password-confirmation" class="form-control" id="password-confirm" placeholder="Confirm Password"
                    required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-6 offset-4">
                <button type="submit" class="btn btn-success">Register</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
                <p class="message">Already have an account?
                    <a routerLink="/register">Login</a>
                  </p>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

  </section>
</app-page-content>
