<div id="user-list">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <button class="btn btn-success" (click)="EditUser()">Edit</button>
          <button class="btn btn-danger" (click)="DeleteUser()">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
