/* You can add global styles to this file, and also import other style files */

//@import '../variables';
//@import '../mixins-css3';
//@import '../reset';
// Code here
body {
  padding-top: 70px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.list-group-item {
  border: 0;
  &.active {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  &:hover {
    a {
      text-decoration: none;
      color: darkgrey;
    }
  }
  a {
    color: #000000;
    display: block;
  }
}

#app-sidebar {
  border-right: 1px solid #ddd;
  height: 100vh;
  padding-right: 10px;
  margin-top: 10px;
  font-size: 16px;
  .list-group {
    i {
      font-size: 20px;
      padding-bottom: 3px;
    }
    >.list-group-item {
      padding: 0;
      a {
        padding: 5px 3px;
      }
    }
  }
}

#page-container {
  .page-header {
    h3 {
      font-size: 24px;
      //border-bottom: 1px solid #ddd;
      padding: 15px 0;
    }
  }
  .page-body {
    padding: 15px 0;
    div{
      label {
        margin-top: 13px;
        margin-left: 100px;
      }
      i {
        margin-top: 13px;
        margin-left: 15px;
      }
    }
  }
}
